<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} [${level}] ${message} ${exception:format=tostring}"
            fileName="${specialfolder:folder=ApplicationData}/Winfy/Logs/${shortdate}.log" />
    <target name="debug" xsi:type="Debugger"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debug" />
  </rules>
</nlog>